In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_excel("TRAIN.xlsx")

In [3]:
nan_cols = [i for i in df.columns if df[i].isnull().all()]
df=df.drop(nan_cols, axis=1)

In [4]:
nan = df[df.columns[df.isnull().mean() >= 0.8]]
df.drop(nan, axis=1, inplace=True)

In [5]:
df = df.fillna(0)

In [6]:
df['PREFERRED_LANGUAGE'] = df['PREFERRED_LANGUAGE'].replace('KAZ',1)
df['PREFERRED_LANGUAGE'] = df['PREFERRED_LANGUAGE'].replace('RUS',2)
df['PREFERRED_LANGUAGE'].value_counts()

2    24734
0    12441
1     9531
Name: PREFERRED_LANGUAGE, dtype: int64

In [7]:
df['GENDER'] = df['GENDER'].apply(lambda x: 1 if x == "F" else 0)
df

,ID,TARGET,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,...,OPER_SMS_DELIVERED_QTY_L30D,OPER_SMS_DELIVERED_QTY_L90D,PHONE_VERIFICATION_SMS,ONLINE_APP_FLAG_EVER,KSPKZ_VISIT_MOB_APP_L30D,ACTIVE_OFF_PRODUCTS_QTY,VK,KOLESA_REG,DATE_LST_PKB_RQST,TOTAL_CLOSED_CRT_PKB
0,31,0,0,1,46,2,0.0,-1,0,0,...,8.0,20.0,1.0,1.0,0.0,3.0,0.0,0.0,22SEP2017:00:00:00,9.0
1,35,0,0,1,54,-1,0.0,-1,0,2,...,3.0,24.0,1.0,0.0,1.0,2.0,0.0,0.0,27JUN2016:00:00:00,11.0
2,42,0,0,1,39,3,0.0,5,0,2,...,9.0,21.0,1.0,0.0,1.0,1.0,1.0,0.0,09JUN2017:00:00:00,7.0
3,73,0,0,0,41,2,0.0,5,0,2,...,1.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,19JUN2017:00:00:00,8.0
4,83,0,0,0,58,5,0.0,3,0,2,...,2.0,17.0,1.0,4.0,0.0,4.0,0.0,1.0,14JAN2018:00:00:00,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46701,93952,0,0,1,22,1,0.0,3,0,0,...,38.0,111.0,1.0,0.0,22.0,3.0,0.0,0.0,03FEB2018:00:00:00,0.0
46702,94039,0,0,1,47,4,0.0,6,0,0,...,2.0,10.0,1.0,0.0,0.0,2.0,0.0,0.0,17JAN2018:00:00:00,1.0
46703,94053,0,0,1,25,1,0.0,3,0,0,...,1.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,20JAN2018:00:00:00,0.0
46704,94111,0,0,0,42,1,0.0,6,0,0,...,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,04JAN2018:00:00:00,0.0
46705,94441,0,0,0,21,1,0.0,3,0,0,...,30.0,35.0,1.0,1.0,23.0,1.0,0.0,1.0,19APR2018:00:00:00,0.0

In [8]:
new = df['DATE_FRM_LST_KASPIKZ_PMT']
new

0        29MAR2018:00:00:00
1        12MAR2018:00:00:00
2        08APR2018:00:00:00
3        15NOV2017:00:00:00
4                         0
                ...
46701    01APR2018:00:00:00
46702                     0
46703                     0
46704                     0
46705    26APR2018:00:00:00
Name: DATE_FRM_LST_KASPIKZ_PMT, Length: 46706, dtype: object

In [10]:
from datetime import datetime
now = datetime.now()
type(now)

datetime.datetime

In [11]:
aa=[]
for i in new:
    if i!=0:
        a = now-datetime.strptime(i, '%d%b%Y:%H:%M:%S')
        aa.append(a.days)
    else:
        aa.append(0)
df['DATE_FRM_LST_KASPIKZ_PMT'] = aa

In [12]:
df['DATE_FRM_LST_KASPIKZ_PMT'] = aa

In [13]:
df = df.drop(['KDN_GCVP','KDN_ANKETA','KDN_SUMMARY'], axis=1)

In [14]:
df_x = df.drop(['TARGET'], axis=1)

In [15]:
df_y = df['TARGET']

In [16]:
objcol = df_x.select_dtypes(include=['object'])
df_x = df_x.drop(objcol, axis=1)

In [17]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, train_size=0.2)

In [25]:
model1 = LogisticRegression(solver="lbfgs")
model1.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
model1.score(x_test, y_test)

0.8541951023685267

In [27]:
valid = pd.read_excel('VALIDATE.xlsx')

In [28]:
cols = df_x.columns

In [29]:
valid = valid[cols]

In [30]:
valid['PREFERRED_LANGUAGE'] = valid['PREFERRED_LANGUAGE'].replace('KAZ',1)
valid['PREFERRED_LANGUAGE'] = valid['PREFERRED_LANGUAGE'].replace('RUS',2)
valid['PREFERRED_LANGUAGE'].value_counts()

2.0    23594
1.0    10594
Name: PREFERRED_LANGUAGE, dtype: int64

In [31]:
valid['GENDER'] = valid['GENDER'].apply(lambda x: 1 if x == "F" else 0)
valid

,ID,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,SALARY,...,OPER_SMS_DELIVERED_QTY_L30D,OPER_SMS_DELIVERED_QTY_L90D,PHONE_VERIFICATION_SMS,ONLINE_APP_FLAG_EVER,KSPKZ_VISIT_MOB_APP_L30D,ACTIVE_OFF_PRODUCTS_QTY,VK,KOLESA_REG,DATE_LST_PKB_RQST,TOTAL_CLOSED_CRT_PKB
0,33,0,1,41,2,0.0,3,0,1.0,130000.0,...,10.0,25.0,1.0,0.0,5.0,4.0,NaN,NaN,06MAR2018:00:00:00,19.0
1,43,0,1,39,2,NaN,3,0,NaN,160000.0,...,11.0,17.0,1.0,0.0,14.0,3.0,NaN,NaN,07MAY2018:00:00:00,23.0
2,100,0,1,41,2,0.0,3,0,2.0,350000.0,...,34.0,52.0,1.0,1.0,12.0,2.0,NaN,NaN,24DEC2017:00:00:00,7.0
3,51,0,1,44,3,1.0,2,0,2.0,100000.0,...,51.0,59.0,1.0,0.0,17.0,2.0,NaN,NaN,19JUL2015:00:00:00,13.0
4,53,0,1,35,1,NaN,3,0,2.0,300000.0,...,28.0,60.0,1.0,1.0,21.0,3.0,NaN,NaN,02MAY2018:00:00:00,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47878,94299,0,0,24,1,NaN,5,0,NaN,90000.0,...,0.0,5.0,NaN,0.0,NaN,1.0,NaN,NaN,01MAR2018:00:00:00,1.0
47879,94250,0,0,21,1,0.0,5,0,NaN,80000.0,...,1.0,4.0,1.0,0.0,NaN,1.0,NaN,NaN,04FEB2018:00:00:00,NaN
47880,94252,0,1,43,-1,NaN,-1,0,NaN,0.0,...,0.0,6.0,1.0,0.0,0.0,1.0,NaN,NaN,05FEB2018:00:00:00,10.0
47881,94255,0,1,28,5,0.0,3,0,NaN,65000.0,...,0.0,3.0,1.0,0.0,NaN,2.0,NaN,NaN,26JAN2018:00:00:00,NaN
47882,94294,0,1,22,1,NaN,3,0,NaN,50000.0,...,0.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,26FEB2018:00:00:00,NaN

In [32]:
valid = valid.fillna(0)

In [41]:
new = valid['DATE_LST_PKB_RQST']

In [42]:
aa=[]
for i in new:
    if i!=0:
        a = now-datetime.strptime(i, '%d%b%Y:%H:%M:%S')
        aa.append(a.days)
    else:
        aa.append(0)

In [43]:
valid['DATE_LST_PKB_RQST'] = aa

In [36]:
valid.select_dtypes(include='object').columns

Index(['KK_L30D_TR_AMT', 'KK_L30D_NON_CASH_TR_AMT', 'KK_L90D_TR_AMT',
       'KK_L90D_NON_CASH_TR_AMT', 'KASPI_GOLD_L30D_TR_AMT',
       'KASPI_GOLD_L90D_TR_AMT', 'KASPI_GLD_L90D_NON_CASH_TR_AMT',
       'COMMON_CURRENT_DEBTS', 'KASPIKZ_PMT_QTY_L_MOBILE_180D',
       'DECUCTIONS_AVR_PMT_SUM', 'KASPIKZ_PMT_AMT_L30D',
       'KASPIKZ_PMT_AMT_L90D', 'KASPIKZ_PMT_AMT_L180D', 'FST_CONTRACT_CITY',
       'LAST_CONTRACT_CITY', 'PROFILE_CITY', 'BONUS_SPEND_OPER_AMT_L30D',
       'BONUS_AMT_L30D', 'BONUS_SPEND_OPER_AMT_L90D', 'BONUS_AMT_L90D',
       'STATUS_PKB', 'SI_TOD', 'SI_TDO', 'DATE_LST_PKB_RQST'],
      dtype='object')

In [45]:
obj = valid.select_dtypes(include='object').columns
obj

Index(['KK_L30D_TR_AMT', 'KK_L30D_NON_CASH_TR_AMT', 'KK_L90D_TR_AMT',
       'KK_L90D_NON_CASH_TR_AMT', 'KASPI_GOLD_L30D_TR_AMT',
       'KASPI_GOLD_L90D_TR_AMT', 'KASPI_GLD_L90D_NON_CASH_TR_AMT',
       'COMMON_CURRENT_DEBTS', 'KASPIKZ_PMT_QTY_L_MOBILE_180D',
       'DECUCTIONS_AVR_PMT_SUM', 'KASPIKZ_PMT_AMT_L30D',
       'KASPIKZ_PMT_AMT_L90D', 'KASPIKZ_PMT_AMT_L180D', 'FST_CONTRACT_CITY',
       'LAST_CONTRACT_CITY', 'PROFILE_CITY', 'BONUS_SPEND_OPER_AMT_L30D',
       'BONUS_AMT_L30D', 'BONUS_SPEND_OPER_AMT_L90D', 'BONUS_AMT_L90D',
       'STATUS_PKB', 'SI_TOD', 'SI_TDO'],
      dtype='object')

In [39]:
for i in obj:
    for j in valid[i]:
        if type(j)==type(now):
            j=0

In [44]:
valid

,ID,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,SALARY,...,OPER_SMS_DELIVERED_QTY_L30D,OPER_SMS_DELIVERED_QTY_L90D,PHONE_VERIFICATION_SMS,ONLINE_APP_FLAG_EVER,KSPKZ_VISIT_MOB_APP_L30D,ACTIVE_OFF_PRODUCTS_QTY,VK,KOLESA_REG,DATE_LST_PKB_RQST,TOTAL_CLOSED_CRT_PKB
0,33,0,1,41,2,0.0,3,0,1.0,130000.0,...,10.0,25.0,1.0,0.0,5.0,4.0,0.0,0.0,819,19.0
1,43,0,1,39,2,0.0,3,0,0.0,160000.0,...,11.0,17.0,1.0,0.0,14.0,3.0,0.0,0.0,757,23.0
2,100,0,1,41,2,0.0,3,0,2.0,350000.0,...,34.0,52.0,1.0,1.0,12.0,2.0,0.0,0.0,891,7.0
3,51,0,1,44,3,1.0,2,0,2.0,100000.0,...,51.0,59.0,1.0,0.0,17.0,2.0,0.0,0.0,1780,13.0
4,53,0,1,35,1,0.0,3,0,2.0,300000.0,...,28.0,60.0,1.0,1.0,21.0,3.0,0.0,0.0,762,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47878,94299,0,0,24,1,0.0,5,0,0.0,90000.0,...,0.0,5.0,0.0,0.0,0.0,1.0,0.0,0.0,824,1.0
47879,94250,0,0,21,1,0.0,5,0,0.0,80000.0,...,1.0,4.0,1.0,0.0,0.0,1.0,0.0,0.0,849,0.0
47880,94252,0,1,43,-1,0.0,-1,0,0.0,0.0,...,0.0,6.0,1.0,0.0,0.0,1.0,0.0,0.0,848,10.0
47881,94255,0,1,28,5,0.0,3,0,0.0,65000.0,...,0.0,3.0,1.0,0.0,0.0,2.0,0.0,0.0,858,0.0
47882,94294,0,1,22,1,0.0,3,0,0.0,50000.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,827,0.0

In [49]:
for i in valid.columns:
    for j in valid[i]:
        if type(j)==type(now):
            valid[i][j]=0

c:\users\админ\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [48]:
model1.predict(valid)

TypeError: float() argument must be a string or a number, not 'datetime.datetime'