In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [137]:
df = pd.read_excel("TRAIN.xlsx")

In [138]:
df

,ID,TARGET,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,...,VERIF_MOBILE_SIGN,VERIF_MOBILE_SIGN_3M,VERIF_DAYS_DIFF,CONFIRM_MOBILE_SIGN,KDN_NEW_TOTAL,KDN_NEW_PURE,KDN_NEW_DEDUCTIONS,REFIN_ACT_FLAG,MONTHLY_PMT_NOW,DAYS_FROM_LAST_TB_CALL
0,31,0,0,F,46,2,NaN,-1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,35,0,0,F,54,-1,NaN,-1,0,RUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,42,0,0,F,39,3,0.0,5,0,RUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73,0,0,M,41,2,0.0,5,0,RUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,83,0,0,M,58,5,0.0,3,0,RUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46701,93952,0,0,F,22,1,0.0,3,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46702,94039,0,0,F,47,4,NaN,6,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46703,94053,0,0,F,25,1,0.0,3,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46704,94111,0,0,M,42,1,0.0,6,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46705,94441,0,0,M,21,1,NaN,3,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
nan_cols = [i for i in df.columns if df[i].isnull().all()]
df=df.drop(nan_cols, axis=1)

In [28]:
df

,ID,TARGET,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,...,PHONE_VERIFICATION_SMS,ONLINE_APP_FLAG_EVER,KSPKZ_VISIT_MOB_APP_L30D,ACTIVE_OFF_PRODUCTS_QTY,VK,FB,KRISHA_REG,KOLESA_REG,DATE_LST_PKB_RQST,TOTAL_CLOSED_CRT_PKB
0,31,0,0,F,46,2,NaN,-1,0,NaN,...,1.0,1.0,0.0,3.0,NaN,NaN,1.0,NaN,22SEP2017:00:00:00,9.0
1,35,0,0,F,54,-1,NaN,-1,0,RUS,...,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,27JUN2016:00:00:00,11.0
2,42,0,0,F,39,3,0.0,5,0,RUS,...,1.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,09JUN2017:00:00:00,7.0
3,73,0,0,M,41,2,0.0,5,0,RUS,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,19JUN2017:00:00:00,8.0
4,83,0,0,M,58,5,0.0,3,0,RUS,...,1.0,4.0,NaN,4.0,NaN,1.0,NaN,1.0,14JAN2018:00:00:00,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46701,93952,0,0,F,22,1,0.0,3,0,NaN,...,1.0,0.0,22.0,3.0,NaN,NaN,NaN,NaN,03FEB2018:00:00:00,NaN
46702,94039,0,0,F,47,4,NaN,6,0,NaN,...,1.0,0.0,NaN,2.0,NaN,NaN,NaN,NaN,17JAN2018:00:00:00,1.0
46703,94053,0,0,F,25,1,0.0,3,0,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,20JAN2018:00:00:00,NaN
46704,94111,0,0,M,42,1,0.0,6,0,NaN,...,NaN,0.0,NaN,2.0,NaN,NaN,NaN,NaN,04JAN2018:00:00:00,NaN
46705,94441,0,0,M,21,1,NaN,3,0,NaN,...,1.0,1.0,23.0,1.0,NaN,NaN,NaN,1.0,19APR2018:00:00:00,NaN

In [99]:
df['PREFERRED_LANGUAGE'] = df['PREFERRED_LANGUAGE'].replace('KAZ',1)
df['PREFERRED_LANGUAGE'] = df['PREFERRED_LANGUAGE'].replace('RUS',2)
df['PREFERRED_LANGUAGE'].value_counts()

2    24734
0    12441
1     9531
Name: PREFERRED_LANGUAGE, dtype: int64

In [29]:
df['GENDER'] = df['GENDER'].apply(lambda x: 1 if x == "F" else 0)
df

,ID,TARGET,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,...,PHONE_VERIFICATION_SMS,ONLINE_APP_FLAG_EVER,KSPKZ_VISIT_MOB_APP_L30D,ACTIVE_OFF_PRODUCTS_QTY,VK,FB,KRISHA_REG,KOLESA_REG,DATE_LST_PKB_RQST,TOTAL_CLOSED_CRT_PKB
0,31,0,0,1,46,2,NaN,-1,0,NaN,...,1.0,1.0,0.0,3.0,NaN,NaN,1.0,NaN,22SEP2017:00:00:00,9.0
1,35,0,0,1,54,-1,NaN,-1,0,RUS,...,1.0,0.0,1.0,2.0,NaN,NaN,NaN,NaN,27JUN2016:00:00:00,11.0
2,42,0,0,1,39,3,0.0,5,0,RUS,...,1.0,0.0,1.0,1.0,1.0,1.0,NaN,NaN,09JUN2017:00:00:00,7.0
3,73,0,0,0,41,2,0.0,5,0,RUS,...,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,19JUN2017:00:00:00,8.0
4,83,0,0,0,58,5,0.0,3,0,RUS,...,1.0,4.0,NaN,4.0,NaN,1.0,NaN,1.0,14JAN2018:00:00:00,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46701,93952,0,0,1,22,1,0.0,3,0,NaN,...,1.0,0.0,22.0,3.0,NaN,NaN,NaN,NaN,03FEB2018:00:00:00,NaN
46702,94039,0,0,1,47,4,NaN,6,0,NaN,...,1.0,0.0,NaN,2.0,NaN,NaN,NaN,NaN,17JAN2018:00:00:00,1.0
46703,94053,0,0,1,25,1,0.0,3,0,NaN,...,NaN,0.0,NaN,1.0,NaN,NaN,NaN,NaN,20JAN2018:00:00:00,NaN
46704,94111,0,0,0,42,1,0.0,6,0,NaN,...,NaN,0.0,NaN,2.0,NaN,NaN,NaN,NaN,04JAN2018:00:00:00,NaN
46705,94441,0,0,0,21,1,NaN,3,0,NaN,...,1.0,1.0,23.0,1.0,NaN,NaN,NaN,1.0,19APR2018:00:00:00,NaN

In [44]:
missing_values_count = df.isnull().sum()
missing_values_count

ID                          0
TARGET                      0
PROSPECT_FLAG               0
GENDER                      0
AGE                         0
                        ...
FB                      40364
KRISHA_REG              44005
KOLESA_REG              37273
DATE_LST_PKB_RQST        1244
TOTAL_CLOSED_CRT_PKB    13902
Length: 167, dtype: int64

In [46]:
total_cells = np.product(df.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
(total_missing/total_cells) * 100

39.48367556412889

In [82]:
df_y=df['TARGET']
df_y

0        0
1        0
2        0
3        0
4        0
        ..
46701    0
46702    0
46703    0
46704    0
46705    0
Name: TARGET, Length: 46706, dtype: int64

In [60]:
df['TARGET'].value_counts()

0    39855
1     6851
Name: TARGET, dtype: int64

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46706 entries, 0 to 46705
Columns: 167 entries, ID to TOTAL_CLOSED_CRT_PKB
dtypes: float64(112), int64(24), object(31)
memory usage: 59.5+ MB

In [73]:
nan = df[df.columns[df.isnull().mean() >= 0.8]]
df.drop(nan, axis=1, inplace=True)

In [87]:
df = df.fillna(0)

In [136]:
df_x = df.drop(['TARGET'], axis=1)
df_x

,ID,PROSPECT_FLAG,GENDER,AGE,RELATIONSHIP,DEPENDENTS_NUM,EDUCATION_TYPE,REMOV_REG,PREFERRED_LANGUAGE,SALARY,...,OPER_SMS_DELIVERED_QTY_L30D,OPER_SMS_DELIVERED_QTY_L90D,PHONE_VERIFICATION_SMS,ONLINE_APP_FLAG_EVER,KSPKZ_VISIT_MOB_APP_L30D,ACTIVE_OFF_PRODUCTS_QTY,VK,KOLESA_REG,DATE_LST_PKB_RQST,TOTAL_CLOSED_CRT_PKB
0,31,0,1,46,2,0.0,-1,0,0,100000.0,...,8.0,20.0,1.0,1.0,0.0,3.0,0.0,0.0,NaN,9.0
1,35,0,1,54,-1,0.0,-1,0,2,120000.0,...,3.0,24.0,1.0,0.0,1.0,2.0,0.0,0.0,NaN,11.0
2,42,0,1,39,3,0.0,5,0,2,45000.0,...,9.0,21.0,1.0,0.0,1.0,1.0,1.0,0.0,NaN,7.0
3,73,0,0,41,2,0.0,5,0,2,100000.0,...,1.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,8.0
4,83,0,0,58,5,0.0,3,0,2,400000.0,...,2.0,17.0,1.0,4.0,0.0,4.0,0.0,1.0,NaN,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46701,93952,0,1,22,1,0.0,3,0,0,150000.0,...,38.0,111.0,1.0,0.0,22.0,3.0,0.0,0.0,NaN,0.0
46702,94039,0,1,47,4,0.0,6,0,0,60000.0,...,2.0,10.0,1.0,0.0,0.0,2.0,0.0,0.0,NaN,1.0
46703,94053,0,1,25,1,0.0,3,0,0,60000.0,...,1.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN,0.0
46704,94111,0,0,42,1,0.0,6,0,0,150000.0,...,1.0,5.0,0.0,0.0,0.0,2.0,0.0,0.0,NaN,0.0
46705,94441,0,0,21,1,0.0,3,0,0,80000.0,...,30.0,35.0,1.0,1.0,23.0,1.0,0.0,1.0,NaN,0.0

In [105]:
from datetime import datetime
now = datetime.now()
print(now)

2020-06-01 16:56:07.860199

In [123]:
new = df['DATE_LST_PKB_RQST'].str.split(':', n = 1, expand = True)

In [134]:
df['DATE_LST_PKB_RQST']=df['DATE_LST_PKB_RQST'].str.split(':')

AttributeError: Can only use .str accessor with string values!

In [130]:
df['DATE_LST_PKB_RQST'] = df['DATE_LST_PKB_RQST'].apply(lambda x: now - datetime.strptime(str(x), '%d%b%Y:%H:%M:%S'))

ValueError: time data '0' does not match format '%d%b%Y:%X'

In [113]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, train_size=0.2)

In [139]:
df_x.select_dtypes(include=['datetime64'])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[46706 rows x 0 columns]

In [102]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import  cross_val_score,GridSearchCV

In [103]:
rfclf = RandomForestClassifier(random_state=15)
rfclf.fit(x_train, y_train)

c:\users\Ð°Ð´Ð¼Ð¸Ð½\appdata\local\programs\python\python36\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

TypeError: float() argument must be a string or a number, not 'datetime.datetime'